.full-width{
	min-width:1170px;
	width: 100%;
}

.remove-padding{
	padding: 0px 0px 0px 0px;
}

.list-none {
	list-style: none;
}

.footer {
	color: #eee;
	background-color: #333;
	border-top: 1px solid #e5e5e5;
	margin-top:50px;
	padding-top: 19px;
	min-width: 1170px;
}

.footer-top{
	margin-top : 40px;
}

.footer-copyright {
	margin-bottom : 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	a {
		color: #eee;
	}
	a:hover {
		text-decoration: none;
	}
}

ul.spaced li {
	padding-top : 3px;
}

.footer-phone{
	color: #bbb;
	font-size : 30px;
}

.footer-pobox-content{
	color: #bbb;
}

.copyright{
	font-size: 10px;
	padding-left : 15px;
	margin-top : -50px;
}

.company-color{
	color : #85B545;
}

.vertical-bar-left{
	border-left: 2px solid #eee;
}

.vertical-bar-right{
	border-right: 2px solid #eee;
}

.map{
	padding-left: 40px;
	margin-top: 62px;
}

.breathe{
	padding-left: 10px;
	padding-right: 10px;
}

.links-list{
	margin-top: 100px;
	margin-left: 15px;
}

.footer-lists{
	font-size: 13px;
}

.contact-english{
	color: #24678d;
}

.contact-spanish{
	color: #508d24;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}