.full-width{
	width: 100%;
}

.remove-padding{
	padding: 0px 0px 0px 0px;
}

.list-none{
	list-style: none;
}

.footer{
	color: #eee;
	background-color: #636466;
}

ul.unstyled{
	list-style: none;
	padding: 0;
}

.copyright{
	font-size: 9px;
}