.full-width{
	min-width:1170px;
	width: 100%;
}

.remove-padding{
	padding: 0px 0px 0px 0px;
}

.list-none {
	list-style: none;
}

.footer {
	color: #eee;
	background-color: #333;
	border-top: 1px solid #e5e5e5;
	margin-top:50px;
	padding-top: 19px;
	min-width: 1170px;
}

.footer-top{
	margin-top : 40px;
}

.footer-copyright {
	margin-bottom : 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	a {
		color: #eee;
	}
	a:hover {
		text-decoration: none;
	}
}

ul.spaced li {
	padding-top : 3px;
}

.footer-phone{
	color: #bbb;
	font-size : 30px;
}

.footer-pobox-content{
	color: #bbb;
}

.copyright{
	font-size: 10px;
	padding-left : 15px;
	margin-top : -50px;
}

.company-color{
	color : #85B545;
}

.vertical-bar-left{
	border-left: 2px solid #eee;
}

.vertical-bar-right{
	border-right: 2px solid #eee;
}

.map{
	padding-left: 40px;
	margin-top: 62px;
}

.breathe{
	padding-left: 10px;
	padding-right: 10px;
}

.links-list{
	margin-top: 100px;
	margin-left: 15px;
}

.footer-lists{
	font-size: 13px;
}

.contact-english{
	color: #24678d;
}

.contact-spanish{
	color: #508d24;
}

.btn-inverse{
	@include button-variant(#eee, #555, #444);
}