$font-stack: "Myriad Pro", "Gill Sans", Helvetica, sans-serif;
$backgroundColor: white;
$baseColor1: #c7c9cc;
$baseColor2: #58595b;
$navBarHeight: 65px;
$navBrandHeight: 55px;

/*==============================
=            Navbar            =
==============================*/
.nav > li {
	float: left;
}

.navbar-default {
	background-color: $backgroundColor;
	border: 0px;
}

.gadget-navbar{
	height: $navBarHeight;
	background-color: $baseColor1;
	padding-left: 0px;
	padding-right: 0px;

	.fa, .menu-social {
		color: white;
	}
}

.navbar-brand{
	padding: 7px 15px 0px 0px;
	img {
		height: $navBrandHeight;
	}
}

.gadget-navbar-menu{
	background-color: $baseColor2;
	font-family: $font-stack;
	height: $navBarHeight;
	padding-top: 10px;

	ul {
		list-style: none;
	}
}

.gadget-navbar-menu-text > li > a{
	color: #fff !important;
	font-size: 0.7vw;
	font-style: normal;
	padding-left: 1.5vw;
}

.gadget-dropdown-menu {
	background-color: transparent;
	font-family: $font-stack;
	font-size: 15px;
	height: 7px;
	list-style: none;
	margin-bottom: 0px;
	padding:0;
	width:750px;

	> li {
		width:16.66667%;
		float: left;  
		> span {
			height: 50px;
			font-weight: bold;
		}

		a { text-decoration: none; }

		//a:hover { text-decoration: underline; }
	}

	li {
		list-style: none;
		padding:0;
		min-height: 7px;

		span {
			padding: 5px 12px;
		    opacity: 1.0;
		    filter: alpha(opacity=100); /* For IE8 and earlier */
		    vertical-align: botom;
		}

		span, ul {
			display:none;
		}

		ul {
			padding: 0;
		}

		ul li { 
			border-top:1px solid white; 
			margin:0;
			padding:0;
		}
	}

	li:hover {
	    opacity: 0.85;
	    filter: alpha(opacity=85); /* For IE8 and earlier */

		span, ul {
			display: block;
		}
	}

	.gadget-dropdown-menu-it {
		background-color: #503774;
		color: white;
		a { color: white; }
	}

	.gadget-dropdown-menu-networking {
		background-color: #297C98;
		a { color: white; }
		> span {
			padding-top:25px;
		}
	}

	.gadget-dropdown-menu-surveillance {
		background-color: #FCE72E;
		a { color: #B37013; }
	}

	.gadget-dropdown-menu-audio {
		background-color: #B2D46B;
		a { color: white; }
		> span {
			padding-top:25px;
		}
	}

	.gadget-dropdown-menu-automation {
		background-color: #F6F6F6;
		a { color: #5E5F61; }
		> span {
			padding-top:25px;
		}
	}

	.gadget-dropdown-menu-contact {
		background-color: #231F20;
		color: white;
		text-align: center;
		padding-right:15px;
		> span {
			padding-top:25px;
		}
	}
}

.gadget-language-sw{
	color: white;
	text-decoration: none;
}

.gadget-language-sw:hover{
	cursor: pointer;
	color: white;
	text-decoration: none;
}


/*=====  End of Navbar  ======*/