$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fontawesome/css/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
// endbower

/* Space out content a bit */
body {
  margin: 0;
//  padding-top: 72px !important;
}

.container {
  width: 1170px !important;
}

.fa, .menu-social {
  font-size: 30px;
}

.fa.fa-mobile {
  font-size: 50px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}