$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fontawesome/css/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
// endbower

/* Space out content a bit */
body {
  margin: 0;
  padding-top: 72px !important;
}

h1, h2, h3 {
	text-align: center;
}

.carousel {
	margin-bottom: 50px;
	background-color: blue;
	.carousel-indicators {
		bottom: -50px; 
		li {
			background-color: white;
			height: 14px;
			margin: 1% 1% 0 1%;
			outline: 1px solid #ACADAF;
			outline-offset: 1px;
			-moz-outline-radius: 10px;
			-ms-outline-radius: 10px;
			-o-outline-radius: 10px;
			-webkit-outline-radius: 10px;
			width: 14px;
		}

		li.active {
			background-color: #ACADAF;
		}
	}
	.carousel-inner {
		.item {
			min-height:500px;
		}

		.carousel-caption {
			display: none;
		}
	}
}

.container {
  width: 1170px !important;
}

.fa, .menu-social {
  font-size: 30px;
}

.fa.fa-mobile {
  font-size: 50px;
}