$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fontawesome/css/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
// endbower

/* Space out content a bit */
body {
  margin: 0;
  padding-top: 72px !important;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}