$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
// endbower

/* Space out content a bit */
body {
	color:#6F6F6F;
	margin: 0;
	padding-top: 72px !important;
	font-size: 16px;
}

p {
	text-align: justify;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

h1 {
	font-size: 44px;
}

h2 {
	color: black;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0px;
}

h4 {
	font-weight: bold;
}

.carousel {
	margin-bottom: 50px;
	background-color: blue;
	.carousel-indicators {
		bottom: -50px; 
		li {
			background-color: white;
			height: 14px;
			margin: 1% 1% 0 1%;
			outline: 1px solid #ACADAF;
			outline-offset: 1px;
			-moz-outline-radius: 10px;
			-ms-outline-radius: 10px;
			-o-outline-radius: 10px;
			-webkit-outline-radius: 10px;
			width: 14px;
		}

		li.active {
			background-color: #ACADAF;
		}
	}
	.carousel-inner {
		.item {
			min-height:500px;
		}

		.carousel-caption {
			display: none;
		}
	}
}

.container {
  width: 1170px !important;
}

.fa, .menu-social {
  font-size: 30px;
}

.fa.fa-mobile {
  font-size: 50px;
}

.main-title {
	border-bottom: 2px solid #666666;
	margin-bottom: 1em;
}

#home-description, #it-service-desk-description, #networking-desc, #surveillance-desc, #audio-desc-p1, #automation-desc-p1 {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}

.audio-video-for {
	b { 
		color: #4D4D4D; 
		display: block; 
		font-size: 1.5em;
	}
}

.copyright { text-align: center; }