/* Space out content a bit */
body {
	color:#6F6F6F;
	margin: 0;
	/*padding-top: 72px !important;*/
	font-size: 16px;
}

p {
	text-align: justify;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

h1 {
	font-size: 44px;
}

h2 {
	color: black;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0px;
}

h4 {
	font-weight: bold;
}

.main-container{
	padding : 0px;
}

.container{
	width : 1170px !important;
}

.carousel {

	margin-bottom: 50px;
	min-width: 1170px;
	width: 100%;
	.carousel-indicators {
		bottom: -50px; 
		li {
			background-color: white;
			height: 14px;
			margin: 1% 1% 0 1%;
			/*outline: 1px solid #ACADAF;
			outline-offset: 1px;
			outline-radius: 10px;
			-moz-outline-radius: 10px;
			-ms-outline-radius: 10px;
			-o-outline-radius: 10px;
			-webkit-outline-radius: 10px; */
			border-radius: 100%;
		    /* #1 */
		    border: 2px solid white;
		    /* #2 * /
		    padding: 5px;
		    background: hsl(0, 0%, 20%);
		    */
		    
		    /* #3 
		    outline: 5px solid hsl(0, 0%, 60%); */
		    
		    /* #4 AND INFINITY!!! (CSS3 only) */
		    box-shadow: 0 0 1px 1px #ACADAF;
		    width: 14px;
		}

		li.active {
			background-color: #ACADAF;
		}
	}
	.carousel-inner {
		.item {
			/*min-height:500px;*/
			img { margin: 0 auto; width: 100%; }
		}

		.carousel-caption {
			display: none;
		}

		.item-home {
			background-color: #A1A5A9;
		}

		.item-it-services {
			background-color: #0F3C5D;
		}

		.item-networking {
			background-color: #061125;
		}

		.item-surveillance {
			background-color: #6B7075;
		}

		.item-audio {
			background-color: #410100;
		}

		.item-automation {
			background-color: #939393;
		}
	}
}

.fa, .menu-social {
  font-size: 30px;
}

.fa.fa-mobile {
  font-size: 50px;
}

.main-title {
	border-bottom: 2px solid #666666;
	margin-bottom: 1em;
}

#home-description, #networking-desc, #surveillance-desc, #audio-desc-p1, #automation-desc-p1 {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}

.audio-video-for {
	b { 
		color: #4D4D4D; 
		display: block; 
		font-size: 1.5em;
	}
}

.copyright { text-align: center; }


.index-icon {
	background-repeat: no-repeat;
	background-size: contain;
	height:175px;
}

.it-icon {
	background-image: url('../img/GT IT Serv&Support Icon2.png');
}
.networking-icon {
	background-image: url('../img/GT Networking Icon2.png');
}
.surveillance-icon {
	background-image: url('../img/GT SurveillanceCam Icon2.png');
}
.audio-icon {
	background-image: url('../img/GT Audio&Video Icon2.png');
}
.automation-icon {
	background-image: url('../img/GT Automation Icon2.png');
}

.it-helper{
	border-bottom: 2px solid #666666;
	padding-bottom : 93px;
}

.network-brands {
	border-bottom: 2px solid #666666;
	padding-bottom: 100px;
	margin-bottom: 75px;

	div { 
		display: inline-block;
		height: 150px;
		vertical-align: middle;

		.helper {
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		}
		img { 
		    vertical-align: middle;
			max-height:100%;
			max-width:100%;
		}
	}
}

.audio-helper {
	margin-top : -55px;
}

.audio-brands {
	padding-bottom: 5px;

	div { 
		display: inline-block;
		height: 100px;
		vertical-align: middle;

		img { 
		    vertical-align: middle;
			max-height:100%;
			max-width:100%;
		}
	}
}

.img-full {
	width : 100%;
}

.surveillance-helper{
	margin-top : 20px;
	border-top: 2px solid #666666;
	padding-top : 98px;
}

.surveillance-infrared{
	margin-top: 45px;
}

.surveillance-ip{
	margin-top: -10px;
}

