<div class="container">
	<div class="row">
		<div class="col-xs-3 text-center">
			<img src="img/GT_LOGOTIPO_DIAPO_TRANSP.png" alt="Logo" class="col-xs-12">
		</div>
		<div class="col-xs-5 vertical-bar-left vertical-bar-right">
			<div class="row">
				<div class="col-xs-8 breathe">
					<ul class="unstyled">
						<li><a href="/"><span class="home-title"></span></a></li>
						<li><a href="/it-services-and-support.html"><span class="it-services-title"></span></a></li>
						<li><a href="/networking.html"><span class="networking-title"></span></a></li>
						<li><a href="/surveillance-cameras.html"><span class="surveillance-title"></span></a></li>
						<li><a href="/audio-and-video.html"><span class="audio-title"></span></a></li>
						<li><a href="/automation.html"><span class="automation-title"></span></a></li>
					</ul>
				</div>
				<div class="col-xs-4">
					<ul class="unstyled">
						<li><a href="#">Idiomas</a></li>
						<li><a href="#">Contacto</a></li>
						<li><a href="#">Correo</a></li>
						<li><a href="#"></a>Teléfono</li>
						<li><a href="#">P.O. Box</a></li>
						<li><a href="">&nbsp;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-3 map">
			<p>Ubicación</p>
			<img src="img/map.png" alt="Map">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<p class="copyright">
				Copyright &copy; 2015 <span class="company-color">Gadget Technology.com</span> All rights reserved / Web project management: i.comunicacioncreativa@gmail.com
			</p>
		</div>
	</div>
</div>
