<nav class="navbar navbar-default navbar-fixed-top">
  <div class="gadget-navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-xs-12">
	    <div class="row">
	      <div class="col-xs-4 col-xs-offset-1">
	        <div class="navbar-header">
	          <a class="navbar-brand text-center" href="/">
	            <img src="/img/logo_GT.png" alt="Gadget">
	          </a>
	        </div>
	      </div>
	      <div class="col-xs-7 gadget-navbar-menu">
			<ul class="col-xs-offset-4 col-xs-6 menu-social">
			  <li class="col-xs-offset-1 col-xs-2"><a href="mailto:carlosreyes@gadget-technology.com"><i class="fa fa-envelope"></i></a></li>
			  <li class="col-xs-2"><a href="https://www.facebook.com/gadgethouston"><i class="fa fa-facebook-square"></i></a></li>
			  <li class="col-xs-2"><i class="fa fa-instagram"></i></li>
			  <li class="col-xs-5 text-center">
			  	<i class="fa fa-caret-left gadget-language-sw-arrow"></i>
			  	<a id="language-switch" class="gadget-language-sw">
			  		eng
			  	</a>
				<i class="fa fa-caret-right gadget-language-sw-arrow"></i>

			  </li>
			</ul>
	      </div>
	    </div>
		<div class="row">
			<ul class="gadget-dropdown-menu gadget-dropdown-menu-container pull-right">
			  <li class="gadget-dropdown-menu-it">
			  	<span><a href="#" class="menu-link item-it-services"><span class="it-services-title"></span></a></span>
			  	<ul>
			  		<li><a href="#" class="menu-link item-it-services"><span>Service Desk</span></a></li>
			  		<li><a href="#" class="menu-link item-it-services"><span>Outsourcing</span></a></li>
		  		</ul>
			  </li>
			  <li class="gadget-dropdown-menu-networking">
			  	<span><a href="#" class="menu-link item-networking"><span class="networking-title"></span></a></span>
			  </li>
			  <li class="gadget-dropdown-menu-surveillance">
				<span><a href="#" class="menu-link item-surveillance"><span class="surveillance-title"></span></a></span>
			  </li>
			  <li class="gadget-dropdown-menu-audio">
			  	<span><a href="#" class="menu-link item-audio"><span class="audio-title"></span></a></span>
			  </li>
			  <li class="gadget-dropdown-menu-automation">
			  	<span><a href="#" class="menu-link item-automation"><span class="automation-title"></span></a></span>
			  </li>
			  <li class="gadget-dropdown-menu-contact">
			  	<span>Contact</span>
			  	<ul>
			  		<li><span><a href="mailto:carlosreyes@gadget-technology.com"><i class="fa fa-envelope"></a></i></span></li>
			  		<li><span><i class="fa fa-mobile contact-link"></i></span></li>
			  		<li><span><i class="fa fa-inbox contact-link"></i></span></li>
		  		</ul>
			  </li>
			</ul>
		</div>
	</div>
  </div><!-- /.container-fluid -->
</nav>